@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #004ac6;
  --color-on-primary: #ffffff;
  --color-primary-container: #2563eb;

  --color-secondary: #006c49;
  --color-secondary-container: #6cf8bb;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;

  --color-background: #f9f9ff;
  --color-surface: #ffffff;
  --color-surface-container: #e7eefe;
  --color-surface-container-low: #f0f3ff;
  --color-surface-container-high: #e2e8f8;

  --color-on-surface: #151c27;
  --color-on-surface-variant: #434655;
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-on-surface);
}